/*
* mdj.css ToB miniprogram v1.0
* © 2019 Offpay, Inc.
*/
@font-face {
  font-family: 'iconfont';  /* project id 832571 */
  src: url('//at.alicdn.com/t/font_832571_kohaklil5co.eot');
  src: url('//at.alicdn.com/t/font_832571_kohaklil5co.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_832571_kohaklil5co.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_832571_kohaklil5co.woff') format('woff'),
  url('//at.alicdn.com/t/font_832571_kohaklil5co.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_832571_kohaklil5co.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:32rpx;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.4rpx;
  -moz-osx-font-smoothing: grayscale;
}
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}

/* 安卓样式修正 */
/* 滚动条 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
a{
  text-decoration:none;
  color:inherit;
}
p,h1,h2,h3{
    margin: 0;
}
h1{
  color: #393939;
  font-size: 60rpx;
}
h2{
  color: #393939;
  font-size: 45rpx;
}
h3{
  color: #393939;
  font-size: 30rpx;
}
input[type="text"],
input[type="password"],
input[type="search"] {
  border: none;
  text-indent: 0;
  text-align: left;
  display: block;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

select::-ms-expand { display: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #666;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: #666;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color: #666;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #666;
}

button[disabled][type="default"] {
  color: #393939;
  background-color: #999;
  /* opacity: 0.6; */
}

hr{
    width:100%;
    margin:0.5em;
    height:4rpx;
    border:none;
    border-top:2rpx solid #eee;
}

.white-color{ color:#fff; }
.grey99-color{ color:#999; }
.grey66-color{ color:#666; }
.grey39-color{ color:#393939; }

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-justify_start {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-justify_end {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-justify_between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-justify_around {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-justify_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

/*
* basic: btn
* colors: btn-main / btn-grey / btn-main-reverse / btn-grey-reverse
* sizes: btn-small / btn-normal / btn-full
*/

button{
    border-radius: 0;
}

.btn{
    color: #fff;
    display: inline-block;
    margin: 20rpx auto;
    text-align: center;
}

.btn-main{
    background-color: rgba(245, 98, 80, 1);
}

.btn-grey{
    background-color: #bbbaba;
}

.btn-main-reverse{
    color:rgba(245, 98, 80, 1);
    background-color: #fff;
    border:2rpx #f66d5a solid;
}

.btn-grey-reverse{
    color: #999;
    background-color:#fff;
	border: solid 2rpx #d8d8d8;
}

.btn-xs{
    font-size: 30rpx;
    padding: 18rpx 12rpx;
}

.btn-small{
    width:200rpx;
    font-size: 28rpx;
    height:80rpx;
    line-height: 80rpx;
  /*font-size: 24px;*/
  /*height:60px;*/
  /*line-height: 70px;*/
  /*padding: 0 20px;*/
  /*border-radius: 10px;*/
}

.btn-normal{
    font-size: 28rpx;
    height:88rpx;
    line-height: 90rpx;
    width:100%;
}

.btn-full{
    font-size: 28rpx;
    height:92rpx;
    line-height: 92rpx;
    width:100%;
}

.btn-radius-6{
    border-radius: 12rpx;
}

.form-group{
    width:87.5vw;
    margin:25rpx;
}

/*font sizes:*/

.fs-28 { font-size: 56rpx; }
.fs-25 { font-size: 50rpx; }
.fs-19 { font-size: 38rpx; }
.fs-16 { font-size: 32rpx; }
.fs-14 { font-size: 28rpx; }
.fs-13 { font-size: 26rpx; }
.fs-12 { font-size: 24rpx; }
.fs-11 { font-size: 22rpx; }
.fs-10 { font-size: 20rpx; }
.fs-8 { font-size: 16rpx; }

.line-26 { line-height: 52rpx; }
.line-23 { line-height: 46rpx; }
.line-20 { line-height: 40rpx; }
.line-17 { line-height: 34rpx; }

.del{
    text-decoration:line-through;
}

.icon-12h {
    width: 25rpx;
    height: 25rpx;
}

.icon-15 {
    width: 30rpx;
    height: 30rpx;
}

.icon-20 {
    width: 40rpx;
    height: 40rpx;
}

.icon-22 {
    width: 44rpx;
    height: 44rpx;
}

.icon-25 {
    width: 50rpx;
    height: 50rpx;
}

.icon-30 {
    width: 60rpx;
    height: 60rpx;
}

.icon-35 {
    width: 70rpx;
    height: 70rpx;
}

.img-80 {
    width: 160rpx;
    height: 160rpx;
}

/* 符合UI规范的类别 */
/*colors:*/
.color-main{ color:#f56250; }
.color-second{ color:#fabb78; }
.color-third{ color:#ec7348; }

/*texts:*/
p{
    font-size:30rpx;
    line-height: 41rpx;
    color: #666;
}
.explain {
    font-size: 22rpx;
    line-height: 33rpx;
    color: #999;
}
.price {
    font-size: 38rpx;
    line-height: 49rpx;
    color: #f56250;
}

/*page and margins*/
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.page-padding{
    padding: 36rpx 24rpx;
  }
.box {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.item {
    padding: 30rpx 36rpx 30rpx 24rpx;
    background-color: white;
    flex: 1;
    align-items: center;
}

.min100-vh {
  min-height: 100vh;
}

.full {
  width: 100%;
}

.full-vw {
  width:100vw;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #f5f5f5;
  z-index: -1;
}

.background-grey {
  background-color: #f5f5f5;
}

.background-white {
  background-color: #fff;
}

.full-vh {
  min-height: 100vh;
}

.arrow-right {
    width: 14rpx;
    height: 14rpx;
    border-top: 4rpx solid #999999;
    border-right: 4rpx solid #999999;
    transform: rotate(45deg);
}
